
.myMargin{
    margin:5px;
}
.myMargin2{
    margin:3px;
}

.mySpacing{
    padding:10px
}   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    5px;
}